<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>The blog of Ed Holmes</h1>
                <p>Don't worry, it will look better soon...</p>
            </div>
        </div>
        <div class="jumbotron">
            <h1>The Blog of Ed Holmes</h1>
            <p>The looks are in progress</p>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Posts:</h3>
                    <ul>
                        <li><a href="/posts/hello_world/">Post 1</a></li>
                    </ul>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </body>
</html>
