<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
    </body>
    <article>
        <hr>
        <div class="post">
            <div class="post-img-content" style="text-align: center"> 
                <img src="https://www.beths.bexley.sch.uk/beths/images/main/calendarmain.jpg" class="img-responsive">
                <span class="post-title"><b>Post #1:</b><br><b>Week Objectives</b></span>
            </div>
            <div class="content">
                <div class="author">
                    By <b>Ed Holmes</b> |
                </div>
            </div>
        </div>

     
        <br />
     
        <p class="lead">What do I want from this week?
            <ul>
                <li>  break from Physics+Maths</li>
                <li> A preview of the end goal in terms of computing</li>
                <li> An final indication that this is what I want to do as a career</li>
            </ul>
            <ol>
                <li> Physics+maths are cool. But Im not wanting to spend 30k studying them. They are very academic too, and for me at least. Studying Physics == Memorizing how things work to pass an exam to then do something I care about. Maths is more logical and genuinely can help with computer science. But it still isnt computer science </li>
                <li> What does higher level CS study look like? What would I be learning? Is it good? What part do I want to study?</li>
                <li>Working on the last point; Im 99% sure I want to stufy computer science, but if this week turns out to be boring, I may have lost a week of my life to something I ultimitely don't care for, but that is a lot cheaper than 10k for a years worth of University level regret. </li>
            </ol>
        </p> 
     
        <hr>
    </article>
</html>
